* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body {
  background: #dddddd;
  margin: 24px;
}
  
.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
}
  
.timer__part {
  font-size: 36px;
  font-weight: bold;
}
  
.timer__btn {
    width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: rgb(84, 109, 190);
  cursor: pointer;
}
  
.timer__btn--start {
  background: #00b84c;
}
  
.timer__btn--stop {
  background: #ff0256;
}
  
.card {
    border: 2px solid darkolivegreen;
    box-shadow: 5px 5px 0 grey;
    margin: 20px;
    padding: 20px;
}
a {
    text-decoration: none;
    color:#D3D5D7;
    display: block;
    padding: 8px;
    background-color: rgb(84, 109, 190);
}

a:hover {
    background-color: #465891;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(84, 109, 190);
    margin-bottom: 30px;
    color:#D3D5D7;
    /* border-radius: 10%; */
}

h1 {
    background-color: rgb(84, 109, 190);
    font-size:45px;
}

div.center {
    text-align: center;
  }